*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --layout-background-color: red;
    --cor-primaria: #327ae7;
    --cor-secundaria: rgb(36, 36, 36);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: right;
    background-color: var();
}
