@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --background-color: #E1F1FD;
    --color1: 243, 248, 255;
    --color2: #242424;
    --color3: #4189e0;
    --aside-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--background-color);
    overflow: hidden;
}

aside{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--aside-color);
}

.counter-display{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color2);
    color: #FFFFFF;
}

.counter-display div{
    height: fit-content;
    width: 50%;
    text-align: center;
}

.counter-display div span{
    text-align: left;
}

.alert-condition{
    width: 100%;
    height: 5%;
    padding: .1rem;
    display: flex;
    align-items: center;

    background: rgb(255, 255, 138);
    margin-bottom: 2rem;
}

table {
    min-height: fit-content;
    width: 90%;
    border-collapse: collapse;
    margin-top: 1rem;
    box-shadow: 0 0 8px -3px rgba(0,0,0,0.4);
    border-radius: .5rem;
}

thead tr{
    border: 1px solid var(--layout-primary-color);
}

tr:nth-child(n + 10) {
    border: none;
    visibility: hidden;
}

tr:nth-child(even){
    background: rgba(var(--color1), 0.8);
}

th, td {
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: var(--background-color);
    color: var(--layout-text-color);
}
td{
    height: fit-content;
    color: var(--layout-text-color);
}


section{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-options {
    position: absolute;
    z-index: 4;
    padding: .5rem;
    top: 0;
    right: 0;
    transform: translateX(100%);
    border-radius: .5rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    background: var(--aside-color);
    box-shadow: 0 0 1em 0 hsla(0, 0%, 14%, 0.111);
    transition: transform .8s ease-in-out;
}

.modal-options button {
    width: 100%;
}

.modal-show {

    transform: translateX(0);
}

#open-configs, #close-configs{
    width: 1.2rem;
    height: 1.2rem;
    filter: invert(23%) sepia(13%) saturate(1139%) hue-rotate(165deg) brightness(95%) contrast(83%);
}

#open-configs:hover, #close-configs:hover{
    cursor: pointer;
    transition: 200ms;
}

#open-configs{

    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 2;
}
#close-configs{

    margin-top: .2rem;
}

#open-configs:hover{
    filter: invert(48%) sepia(74%) saturate(1598%) hue-rotate(192deg) brightness(91%) contrast(91%);
}

#close-configs:hover{
    filter: invert(54%) sepia(76%) saturate(5452%) hue-rotate(335deg) brightness(104%) contrast(87%);
}


form{
    width: 60%;
    height: 600px;
    min-height: fit-content;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--aside-color);
    box-shadow: 0 0 8px -3px rgba(0,0,0,0.4);
    border-radius: .5rem;
    padding: .5rem;
    position: relative;
}

fieldset{
    width: 80%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: .2rem;

}

form label{
    text-align: left;
    margin-top: .5rem;
}

form input, form select, button{
    height: 2.5rem;
    padding: .4rem;
    border-radius: .3rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cpf_search{
    height: 100%;
    display: flex;
    align-items: center;
    
}

.cpf_search input{
    height: 2.5rem;
    width: 100%;
}

.urgency-level{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

input[type="radio"]{
    display: none;
}

.urgency-level label{
    width: 49%;
    padding: .5rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    border-radius: .3rem;
    gap: .2rem;

}

.urgency-level label:before {
    content: "";
    height: .5rem;
    width: .5rem;
    border: 3px solid #e7e7e7;
    border-radius: 50%;
}
input[type="radio"]:checked + label:before {
    background-color: var(--color3)
}
input[type="radio"]:checked + label {
    background-color: var(--color3);
    color: #ffffff;
}
button{
    margin-top: 5%;
    color: #FFFFFF;
    background-color: var(--color2);
    transition: background-color 0.3s;
}

button.hidden{
    display: none;
    visibility: hidden;
}

button:hover{
    transition: background-color 0.3s;
    background-color: var(--color3);

}


input.halfwidth, label.halfwidth, button.halfwidth{
    width: 50%;
}


