@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --layout-background-color: #ffffff;
    --layout-primary-color: #327ae7;
    --layout-secondary-color: #242424;
    --layout-text-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: #E1F1FD;
    overflow: hidden;
    transition: background 400ms;
}


.preview {
    width: 100%;
    height: fit-content;
    padding: 2rem;
    display: grid;
    place-content: center;
}

.layout1 {
    width: 50rem;
    height: 25rem;
    display: grid;
    grid-template-columns: .4fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    padding: 1rem;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    background: white;
}

.div1 {
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--layout-secondary-color);
}

.div3 {
    display: flex;
    align-items: center;
    grid-area: 1 / 2 / 2 / 6;;
    gap: 10rem;
    padding: 1rem;
    color: var(--layout-text-color);
    background-color: var(--layout-primary-color);
}

.carousel-ads {
    grid-area: 2 / 2 / 6 / 6;
    background-color: var(--layout-background-color);
    position: relative;
    overflow: hidden;
    background: var(--layout-primary-color);
}

.carousel {
    width: 100%;
    display: flex;
    top: -3px;
    position: absolute;
}

.carousel-item video {
    width: 100% !important;
    aspect-ratio: 16 / 9;
}



aside {
    width: 100%;
    height: fit-content;
    min-width: fit-content;
    gap: 3rem;
    padding: 1rem;
    color: #242424;
}
aside form{
    display: flex;
    justify-content: space-evenly;
}


.swatch{
    min-width: 125px;
    height: 125px;
    background-color: #FEFEFE;
    gap: 2rem;
}

input[type="color"] {
    width: 100%;
    height: 50%;
    appearance: none;
    background: none;
    cursor: pointer;
    border: none;
}

::-webkit-color-swatch-wrapper, ::-moz-focus-inner {
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.2);
    padding: 0;
    border: 0;
}

::-webkit-color-swatch{
    border: none;
}

input[type="file"] {
    display: none;
}

.swatch .info{
    border-top: 1px solid #fcfcfc;
    padding: .5rem;
}

.form-actions{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

button {
    width: 200px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1rem;
    background: #242424;
    font-family: "Poppins", sans-serif;
}

button#reset:hover{
    background: #e73232;
    transition: background 100ms;
}

button[type="submit"]:hover {
    background: #32e777;
    transition: background 100ms;
}


@media (max-width: 1024px) {
    body {
        height: fit-content;
        gap: 2rem;
    }

    aside {
        width: 100%;
    }

    .preview {
        margin-top: 2rem;
        width: 100%;
        height: max-content;
    }

    .layout1 {
        width: 90vw;
        height: 250px;
        padding: 0;
    }

    .ticket-counter-display {
        background: var(--layout-primary-color);
    }
}
